# merging

In [ ]:
import pandas as pd

merge some_employees and some_employees_alt
    - change how to left, right, inner, outer

merge some_employees and departments
    - what type? M:1
    - N after?
    
repeat (new vars? same vars?)    

merge some_employers and current_employer
    - what type?
    - N after?
    - suffix: which "firm" is kept? (switch order... same?) USE BETTER NAMES THAN THE DEFAULT!

merge      
    
cover paramaters    
    https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

In [13]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[None, 2, 54, 3, None], 
                   "C":[20, 16, None, 3, 8], 
                   "D":[14, 3, None, None, 6]}) 
# 
df.fillna(0)           # impute with a single number
df.mean()           
df.fillna(df.mean())   # put the variable means
df.median()           
df.fillna(df.median()) # put the variable medians
df
df.fillna(method='ffill') # carry forward

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0